/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#board{
  height: 400px;
  width: 400px;
  
}
#view{
  width: 100%;
  height: 80vh;
}